body {
  background-color: white;
  padding: 0px;
  margin: 0px;
  color: #1F1F21;
  max-height: 100vh;
  overflow: hidden;
}
#container {
  max-height: 100vh;
  overflow: scroll;
  position: relative;
}
#img {
  max-width: 100%;
  padding: 0px;
  margin: 0px auto;
  display: block;
}
#title {
  font-size: 16px;
  padding: 0px 4px;
}
#summary {
  padding: 0px 4px;
}
#spacer {
  height: 54px;
}
#original {
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-position: 32% center;
  padding: 8px 24px;
  margin: -40px auto 0px;
  display: table;
  color: #8E8E93;
  text-decoration: none;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  border-radius: 9px;
  border: 3px solid #8E8E93;
  width: 80%;
  position: relative;
}
iframe {
  height: 0px;
  border: 0;
}
