body {
  background-color: white;
  padding: 0px;
  margin: 0px;
  color: #1F1F21;
}
#img {
  max-width: 100%;
  padding: 0px;
  margin: 0px auto;
  display: block;
}
#title {
  font-size: 16px;
  padding: 0px 4px;
}
#summary {
  padding: 0px 4px;
}
#original {
  background-color: #D7D7D7;
  padding: 6px 27px;
  margin: 14px auto 0px auto;
  display: table;
  color: #1F1F21;
  text-decoration: none;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 16px;
  border-radius: 2px;
}
iframe {
  height: 0px;
  border: 0;
}
