<Alloy>
  <Window>
    <View id="background"></View>
    <ListView id="menuList">
      <ListSection class="menuSection">
        <HeaderView>
          <View class="sectionHeader">
            <Label>Menu</Label>
          </View>
        </HeaderView>
        <ListItem class="menuItem" title="\uE036 Home" />
        <!-- <ListItem class="menuItem" title="\uE114 Search & Add" /> comment out until we impleent-->
        <ListItem class="menuItem" title="\u2B50 Stars" />
        <ListItem class="menuItem" title="\uE024 Recently Read" />
        <!-- <ListItem class="menuItem" title="\u2699 Settings" /> comment out until we impleent-->
        <ListItem class="menuItem" title="\u2139 About" />
        <ListItem class="menuItem" title="\uE41E Logout" />
      </ListSection>
    </ListView>
  </Window>
</Alloy>
