<Alloy>
  <Window>
    <View id="background"></View>
    <ListView id="menuList">
      <ListSection class="menuSection">
        <HeaderView>
          <View class="sectionHeader">
            <Label>Menu</Label>
          </View>
        </HeaderView>
        <ListItem class="menuItem" title="\ue069 Home" />
        <!-- <ListItem class="menuItem" title="\ue090 Search & Add" /> comment out until we impleent-->
        <ListItem class="menuItem" title="\ue09b Stars" />
        <!-- <ListItem class="menuItem" title="\ue081 Recently Read" /> -->
        <!-- <ListItem class="menuItem" title="\ue09a Settings" /> comment out until we impleent-->
        <ListItem class="menuItem" title="\ue08b About" />
        <ListItem class="menuItem" title="\ue065 Logout" />
      </ListSection>
    </ListView>
  </Window>
</Alloy>
