<Alloy>
  <Window>
    <View id="background"></View>
    <ListView id="menuList">
      <ListSection class="menuSection">
        <ListItem class="menuItem" title="\uE114 Search & Add" />
        <ListItem class="menuItem" title="\u2B50 Stars" />
        <ListItem class="menuItem" title="\u21BB Refresh" />
        <ListItem class="menuItem" title="Settings" />
        <ListItem class="menuItem" title="About" />
        <ListItem class="menuItem" title="Logout" />
      </ListSection>
    </ListView>
  </Window>
</Alloy>
